.App {
  text-align: center;
  width: 480px;
  margin: 0 auto;
  font-size:1.25rem
}

@media (min-width: 480px) {
  .App {
    text-align: center;
    width: 768px;
    margin: 0 auto;
    font-size:1.35rem
  }
}

@media (min-width: 1024px) {
  .App {
    text-align: center;
    width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .App {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
  }
}